body{
  width: 100%;
}
  /*---------Обнуление-----------*/
  *{
    padding: 0;
    margin: 0;
    border: 0;
  }
  html{
    box-sizing: border-box;
  }
  *, *::before, after{
    box-sizing: inherit;
  }
/*---------ШРИФТИ-----------*/

   @font-face{
       font-family: Arial;
       font-style: normal;
       font-weight:400;
       src: local('Arial regular')
            url('../fonts/Arial\ regular.ttf') format('ttf')
   }
   @font-face{
       font-family:Arial ;
       font-style: italic;
       font-weight: 400;
       src: local('Arial_italic')
            url('../fonts/arial_italic.ttf') format('ttf')
     
   }
/*---------ШРИФТИ КІНЕЦЬ-----------*/
header{
background-color: #445162;
}
.header_wreaper{
display: flex;
justify-content: space-between;
max-width: 1276px;
margin:0 auto;
padding-left:50px;
font-family: Arial;
font-style: normal;
font-size: 20px;
font-weight: 400;
padding-bottom: 50px;
padding-top: 45px;
color:#ffffff;
}
.foto_wreaper{
  padding-right: 50px;
}

li{
    list-style-type: none;
}
.header_list{
    margin-bottom: ;
}
.header_list:before{
    content:url(../img/png/check\ icon.png);
    margin-right: 10px;
}
.header_lists{
    margin-top: 50px;
    line-height: 36px;
}
.footer{
  background-color: #445162;
}
.footer-title{
  /* width: 117px;
  height: 22px; */
  color: #ffffff;
  font-family: "Arial MT";
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  padding-top: 53px;
  padding-bottom: 31px;
  /* margin-left: auto;
  margin-right: auto; */
 
  
}

.container{
  max-width: 1276px;
 
  
}
.footer-contacts{ 
  display: flex;
  flex-direction: row;
  justify-content: center; 
  
}


.row-name{
  width: 500px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 21px;
  border-radius: 5px;
  
}
::placeholder{
  color: #445162;
}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
.row-email{
  width: 500px;
  height: 40px;
  margin-bottom: 21px;
  border-radius: 5px;
}
.message-row{
  width: 500px;
  height: 170px;
  margin-bottom: 21px;
  border-radius: 5px;
}
.submit{
  width: 140px;
  height: 40px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  
}
.contacts{
  color: #ffffff;
  font-family: "Arial MT";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 46px;
}
.icons{
  margin-top: 30px;
}

 .social-contacts{
  margin-top: 37px; 
}
.batton{
  text-align: center;
}



