
  /*---------Обнуление-----------*/
  *{
    padding: 0;
    margin: 0;
    border: 0;
  }
  html{
    box-sizing: border-box;
  }
  *, *::before, after{
    box-sizing: inherit;
  }
/*---------ШРИФТИ-----------*/

/*---------ШРИФТИ КІНЕЦЬ-----------*/
body{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
.Name{
  font-weight: 300;
  font-size: 60px;
}
header{
background-color: #445162;
min-width: 1276px;
}
.header_wreaper{
display:flex;
justify-content:space-between;
max-width: 1276px;
margin:0 auto;
padding-left:50px;
font-size: 20px;
font-weight: 400;
padding-bottom: 50px;
padding-top: 45px;
color:#ffffff;
}
.foto_wreaper{
  padding-right: 50px;
}

li{
    list-style-type: none;
}

.header_list:before{
    content:url(../img/png/check\ icon.png);
    margin-right: 10px;
}
.header_lists{
    margin-top: 50px;
    line-height: 36px;
    font-size: 20px;
}
/*-----main_start---------*/
main{
  min-width: 1276px;
}
.about_product_wreper{
  display:flex;
  justify-content: space-between;
  max-width: 1276px;
  margin:0 auto;
padding-left:50px;
font-size: 16px;
font-weight: 400;
padding-bottom: 50px;
line-height: 24px;
padding-top: 45px;
color:#445161;
}
.some_text1{
  margin-bottom: 20px;
  max-width: 651px;
}
.name2{
  margin-bottom: 35px;
  
}
.videoblock{
  padding-right: 50px;
}
/* Dignity and pluses product START */
.name3{
  text-align: center;
  padding-top: 35px;
  margin-bottom: 25px;
  color: #445161;
  font-size: 30px;
  font-weight: 300;
}
.pros_and_cons_items{
  display: grid;
  max-width:1276px;
  grid-template-columns: 45px 590px 45px 590px;
  
}
.item{
  margin-bottom: 35px;
  margin-right: 20px;
  font-size: 16px;
}

.box{
  width: 35px;
  height: 35px;
  background-color: #445161;
  margin-top: 4px;
  content: url(../img/png/Layer\ 2.png);
  padding:6px;
}
.pros_and_cons{
  min-width: 1276px;
  background-color:#f5f5f5 ;
}
.pros_and_cons_wreaper{
  max-width: 1276px;
  margin:0 auto;
  padding-left: 50px;
 
}

/* Dignity and pluses product AND */

/*------main_and---------*/

/* Footer start */
.footer{
  background-color: #445162;
}
.footer-title{
  /* width: 117px;
  height: 22px; */
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  padding-top: 53px;
  padding-bottom: 31px;
  /* margin-left: auto;
  margin-right: auto; */
 
  
}

.container{
  max-width: 1276px;
  margin:0 auto;
 
  
}
.footer-contacts{ 
  display: flex;
  flex-direction: row;
  justify-content: center; 
  
}


.row-name{
  width: 500px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 21px;
  border-radius: 5px;
  outline: none;
  padding-left: 5px;
  
}
::placeholder{
  color: #445162;
}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.row-email{
  width: 500px;
  height: 40px;
  margin-bottom: 21px;
  border-radius: 5px;
  outline: none;
  padding-left: 5px;
}
.message-row{
  width: 500px;
  height: 170px;
  margin-bottom: 21px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 5px;
  padding-top: 5px;
  font-family: 'Roboto', sans-serif;
}

.submit{
  width: 140px;
  height: 40px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;


  
}
.submit:hover{
  background-color: tomato;
  font-weight: 700;
  font-size: 24px;
  text-decoration: underline;


  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  animation-duration: 1s;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s;

}
@keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
 
@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
.contacts{
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 46px;
}
.icons{
  margin-top: 30px;
}

 .social-contacts{
  margin-top: 37px; 
  display: flex;
  justify-content: space-between;
}
/* .social-contacts:before{
  content: url();
} */
.batton{
  text-align: center;
}
/* footer and */
.social-margin{
  margin-right: 10px;
}



